Enrollment No. : 180280116024 <br>
Subject : Data Analysis and Visualization

<h1>PRACTICAL 2<h1>

<b>AIM : </b> Consider the sample of 50 students. Gather the university exam score of the students across all semester of Engineering for one college. Write a program to find out mean and standerd deviation of for this college.Now, consider the sample of students of different colleges of Gujarat for university exam score. Write a program to find out mean and standerd deviation. Write the observation.

In [1]:
# importing libraries
import pandas as pd

In [2]:
#importing dataset
student_data = pd.read_csv("Sudent2.csv")

In [3]:
student_data.head()

   EnrollmentNo     Name  Gen  Semester  Exam_Score College_Name
0           101     Beth    0         3        3.39          GEC
1           102   Sharon    0         3        9.92         LDCE
2           103    Linda    0         3        8.34         LDCE
3           104  Lindsay    0         5        9.46         LDCE
4           105     Chad    1         3        4.83          BVM

In [4]:
LDCE_Students = student_data.loc[student_data["College_Name"] == "LDCE"]

In [5]:
LDCE_Students.head()

    EnrollmentNo     Name  Gen  Semester  Exam_Score College_Name
1            102   Sharon    0         3        9.92         LDCE
2            103    Linda    0         3        8.34         LDCE
3            104  Lindsay    0         5        9.46         LDCE
6            107   Daniel    1         3        6.12         LDCE
13           114   Joseph    1         3        7.45         LDCE

In [6]:
LDCE_Students.shape

(18, 6)

In [7]:
#mean of LDCE student Exam Score
LDCE_Students["Exam_Score"].mean()

8.111666666666668

In [8]:
#standerd deviation of LDCE student Exam Score
LDCE_Students["Exam_Score"].std()

1.625058369992399

In [9]:
#mean of all student Exam Score
student_data["Exam_Score"].mean()

6.773600000000003

In [10]:
#standerd deviation of all student Exam Score
student_data["Exam_Score"].std()

1.9587582072031544